/*Universal Styling*/
:root {
    background-color: #004643;
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #004643;
}
body{
    overflow: hidden;
}
p{
    color: #abd1c6;
}
/*H tag styling*/
h1, h2, h3, h4 {
    margin-bottom: 1rem;
}
h1{
    font-size: 5.4rem;
    color: #fffffe;
    margin-bottom: 5rem;
}
h1 > span{
    font-size: 2.4rem;
    font-weight: 500;
}
h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    color: #fffffe;
}
h3{
    font-size: 2.8rem;
    font-weight: 500;
    color: #fffffe;
}
h4{
    font-size: 1.8rem;
    font-weight: 500;
    color: #fffffe;
}
/*Utilities*/
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.container > * {
    width: 100%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
/*btn styling*/
.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #001e1d;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #001e1d;
    background-color: #f9bc60;
}
.btn:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
/*footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #0f0e17;
	height: 50px;
	color: #f9bc60;
}
.social-icons {
	color: #f9bc60;
	font-size: 2rem;
	padding: 10px;
	margin-bottom: 10px;
}
.social-icons:hover {
	color: #e16162;
}

/*form style*/
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}
input::placeholder{
    color: #aaa;
}
/*modal styling*/
#myBtn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: none;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}
#myBtn:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}
#myBtn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
/* Modal Content */
.modal {
    display: none;
    position: absolute;
    padding-top: 445px; 
    width: 120%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #004643;
    margin: auto;
    padding: 20px;
    width: 20%;
    font-size: 1.4rem;
}
/* The Close Button */
.close {
    color: #f9bc60;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #f9bc60;
    text-decoration: none;
    cursor: pointer;
}
/*highscores-css*/
#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: #abd1c6;
  }
  
  .high-score:hover {
    transform: scale(1.25);
    color: #fffffe;
  }

  /*responsive*/
@media (min-width: 350px){
    .modal{
        padding-top: 325px;
    }
    .modal-content{
        width: 60%;
    }
    h1{
        font-size: 3rem;
    }
    .high-score{
        font-size: 2.4rem;
    }
}
@media (min-width: 568px){
    .modal{
        padding-top: 325px;
        margin: 0;
        padding: 0;
    }
    .modal-content{
        width: 40%;
    }
    h1{
        font-size: 3rem;
    }
    .high-score{
        font-size: 2.4rem;
    }
}
@media (min-width: 768px){
    .modal{
        padding-top: 325px;
        margin: 0;
        padding: 0;
    }
    .modal-content{
        width: 30%;
    }
    h1{
        font-size: 3rem;
    }
    .high-score{
        font-size: 2.4rem;
    }
}
@media (min-width: 1024px){
    .modal{
        padding-top: 325px;
        width: 130%;
    }
    h1{
        font-size: 3rem;
    }
    .high-score{
        font-size: 2.4rem;
    }
}
@media (min-width: 1920px){
    .modal{
        width: 100%;
    }
    .modal-content{
        width: 20%;
    }
}
@media (min-width: 2560px){
    .modal{
        width: 100%;
        padding-top: 480px;
    }
    .modal-content{
        width: 20%;
    }
}